.cabinet_alt, .cabinet_page7, .tov { *zoom: 1; }
.cabinet_alt:before, .cabinet_page7:before, .tov:before, .cabinet_alt:after, .cabinet_page7:after, .tov:after { content: " "; display: table; }
.cabinet_alt:after, .cabinet_page7:after, .tov:after { clear: both; }

.arr_blue { display: inline-block; background: url("../img/icons-s2151542952.png") 0 -2459px no-repeat; width: 6px; height: 9px; margin-bottom: 1px; }

.select-orders { float: right; color: #666; }
.select-orders select { color: #666; }

.content__main_textpage .sidebar { position: relative; background-color: white; margin: 0 0 5px 0; text-align: right; }
.content__main_textpage .sidebar .nav-textpage { margin: 0 0 5px 0; }
.content__main_textpage .sidebar .nav-textpage h4 { color: #003366; font-size: 12px; white-space: nowrap; }
.content__main_textpage .sidebar .nav-textpage a { border-bottom: 1px dotted #71b1e5; display: block; text-decoration: none; color: #003366; }
.content__main_textpage .sidebar .nav-textpage a:hover { text-decoration: underline; }
.content__main_textpage .sidebar .profile__data { border: 1px solid #d3eaf8; border-radius: 0 10px; margin: 0 0 5px; padding: 10px 20px; color: #ff6600; }
.content__main_textpage .sidebar .profile__data a { color: #ff6600; text-decoration: none; }
.content__main_textpage .sidebar .profile__data a:hover { text-decoration: underline; }
.content__main_textpage .sidebar .profile__data h4 { color: #666; font-size: 13px; margin-bottom: 1em; }
.content__main_textpage .sidebar .profile__data h5 { color: #999999; font-size: 12px; }
.content__main_textpage .sidebar .profile__data .profile__edit { margin-top: 15px; display: block; text-decoration: underline; }
.content__main_textpage .sidebar .profile__data .profile__edit:hover { text-decoration: none; }

.content__header_textpage .wrapper { border-radius: 10px 10px 0 0; border: 5px solid #d3eaf8; border-bottom: none; }
.content__header_textpage .wrapper:before { background: url('../img/icons-s953d242382.png') 0 -2580px no-repeat; width: 8px; height: 9px; position: absolute; bottom: 0; left: 5px; content: ""; }

.main-col_textpage { margin-left: -5px; width: 785px; float: left; }
.main-col_textpage .wrapper { border-radius: 0 0 10px 10px; border-top: none; }
.main-col_textpage article { margin: 0 25px 40px 50px; min-height: 400px; color: #666; }
.main-col_textpage article p { margin-bottom: 1em; }

.title-2 { font-size: 24px; border-bottom: 1px dotted #a7d6f1; margin-bottom: 1em; font-weight: normal; }

.cabinet h2 { font-weight: normal; border-bottom: 1px dotted #A4D7EE; margin-bottom: 15px; color: #666666; font-size: 24px; }
.cabinet h3 { font-size: 18px; color: #666666; padding-top: 5px; border-top: 1px dotted #A4D7EE; margin-top: 20px; font-weight: normal; position: relative; padding-left: 10px; margin-bottom: 25px; }
.cabinet h3:before { position: absolute; left: 0; top: 14px; background: url('../img/icons-s953d242382.png') 0 -2741px no-repeat; width: 6px; height: 9px; content: ' '; }
.cabinet h3.noborder { border: none; }

.main-col_textpage article.cabinet { margin-left: 22px; }

.supertable { width: 100%; border-spacing: 0; border-collapse: collapse; }
.supertable thead th { font-weight: normal; color: #003366; text-align: center; padding: 6px 0; border-bottom: 1px dotted #A4D7EE; }
.supertable thead th:last-child { text-align: right; }
.supertable thead th:first-child { text-align: left; }
.supertable tbody td { font-size: 12px; color: #666666; padding: 6px 0; text-align: center; }
.supertable tbody tr:nth-child(even) td { background: #E8F4FA; }
.supertable tbody td:last-child { text-align: right; }
.supertable tbody td:first-child { text-align: left; }
.supertable tbody a { color: #FF6327; }

.supertable__more { text-align: right; color: #FF6327; padding-top: 4px; border-top: 1px dotted #A4D7EE; margin-top: 2px; }
.supertable__more a { color: #FF6327; }

.row { display: inline-block; vertical-align: bottom; width: 277px; margin-right: 12px; margin-bottom: 15px; }
.row label { font-size: 11px; color: #999999; display: block; padding-bottom: 3px; }
.row small { display: block; font-size: 11px; color: #A0A0A0; padding-top: 5px; padding-left: 3px; }
.row input { border: 1px solid #CDCDCD; border-radius: 4px; width: 271px; padding: 3px 3px; }
.row select { width: 100%; height: 100%; position: relative; z-index: 100; opacity: 0; }
.row .select { width: 100%; height: 22px; position: relative; border: 1px solid #CDCDCD; border-radius: 4px; }
.row .select:after { content: ""; background: url('../img/icons-s953d242382.png') 0 -2693px no-repeat; width: 19px; height: 20px; position: absolute; top: 1px; right: 2px; }
.row.row_radio { padding-bottom: 19px; }
.row.row_radio label { display: inline-block; }
.row.row_radio input { width: auto; }

.row_block { display: block; }

.row_m { margin: 20px 0; }

.cab__submit { margin-bottom: 140px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5)); background-image: -webkit-linear-gradient(#f5f5f5, #e5e5e5); background-image: -moz-linear-gradient(#f5f5f5, #e5e5e5); background-image: -o-linear-gradient(#f5f5f5, #e5e5e5); background-image: -ms-linear-gradient(#f5f5f5, #e5e5e5); background-image: linear-gradient(#f5f5f5, #e5e5e5); height: 29px; position: relative; }
.cab__submit .cab__submitbut { background: url('../img/icons-s953d242382.png') 0 -1035px no-repeat; width: 98px; height: 29px; position: absolute; left: 0; border: thin; font-size: 0px; }
.cab__submit .cab__submitbut:focus { outline: none; }

.users { color: #ff6600; }
.users .users__fio { margin-bottom: 5px; font-weight: bold; }
.users .users__fio span { font-weight: normal; margin-left: 3px; }
.users .users__bold { font-weight: bold; margin-bottom: 5px; }
.users .users__adress { margin-bottom: 15px; }
.users .users__tel { margin-bottom: 80px; }

.cabinet .users { margin-left: 10px; }
.cabinet .cab__submit_alt { margin-top: 80px; }
.cabinet .cab__submit_alt .cab__submitbut { background: url('../img/icons-s953d242382.png') 0 -1287px no-repeat; width: 98px; height: 29px; position: absolute; left: 0; border: thin; font-size: 0px; }
.cabinet .cab__submit_alt .cab__submitbut:focus { outline: none; }
.cabinet .cab__submitNote { position: absolute; top: 7px; left: 105px; font-size: 11px; font-style: normal; color: #999; }

.cabinet_alt h2 { margin-bottom: 0; }
.cabinet_alt h3 { margin-bottom: 10px; }
.cabinet_alt .noborder { margin-top: 0; }
.cabinet_alt .cabinet__link { float: right; margin-top: 5px; color: #ff6600; text-decoration: underline; }
.cabinet_alt .cabinet__link:hover { cursor: pointer; }
.cabinet_alt .cabinet__return { float: right; margin-top: 12px; color: #ff6600; text-decoration: underline; }
.cabinet_alt .cabinet__return:hover { cursor: pointer; }

.nav-sidebar .active { border-bottom: 1px dotted #71b1e5; }

.page-nav__note { float: left; color: #999999; }

.page-nav_position { position: relative; top: -7px; right: 0; }

.product_alt { min-height: 155px; }
.product_alt .product__info { width: 553px; margin: 20px 0 0; }
.product_alt .product__content { margin-bottom: 3px; }
.product_alt .product__meta { margin-bottom: 3px; }
.product_alt .product__description { width: 553px; }
.product_alt .product__text { line-height: 1.2; }

.link-compare a { color: #ff6600; }

.product__name { margin-bottom: 5px; }

.empty-border { height: 54px; margin-bottom: 5px; border-top: 1px solid #a7d6f1; border-bottom: 1px solid #a7d6f1; }

.empty-border__bt { margin-top: -10px; height: 1px; border-bottom: none; }

.cabinet_page7 h2 { margin-bottom: 5px; }

.wrap-nav { height: 31px; margin-bottom: 10px; border-bottom: 1px dotted #a7d6f1; }

.tov-top { display: inline-block; height: 23px; border-bottom: 1px dotted #a7d6f1; font-size: 12px; font-weight: bold; color: #003366; }
.tov-top .tov-top__item, .tov-top .tov-top__key, .tov-top .tov-top__number, .tov-top .tov-top__price { float: left; }
.tov-top .tov-top__item { width: 425px; }
.tov-top .tov-top__key { width: 100px; }
.tov-top .tov-top__number { width: 90px; }
.tov-top .tov-top__price { width: 110px; text-align: center; }

.tov .tov-desc__key, .tov .tov-desc__number, .tov .tov-desc__price { float: left; }
.tov .tov-desc__key { width: 100px; }
.tov .tov-desc__number { width: 90px; }
.tov .tov-desc__price { width: 110px; text-align: center; }
.tov .tov-media { height: 70px; border-bottom: 1px dotted #a7d6f1; }
.tov .tov-media__img { width: 80px; height: 45px; line-height: 45px; margin: 10px 15px 0 0; display: inline-block; overflow: hidden; }
.tov .tov-media__img img { max-width: 80px; max-height: 45px; vertical-align: middle; }
.tov .tov-media__left { width: 425px; display: inline-block; }
.tov .tov-media__desc { display: inline-block; color: #666; }
.tov .tov-desc { display: inline-block; line-height: 33px; vertical-align: middle; color: #006699; }
.tov .tov-desc__price { font: 24px Tahoma,sans-serif; color: #ff6600; }

.all-price { color: #ff6600; font-size: 16px; }
.all-price .all-price__price { font-size: 24px; }

.cabinet_alt .all-price { margin-top: 5px; float: right; }

.row_cab9 { width: 100%; }
.row_cab9 .row__notes { display: inline-block; font-size: 11px; margin-left: 12px; color: #999; }

.cab__submit_noMargin { margin-bottom: 0; }

.enter-client { font-weight: bold; }

.remember-pass { border-bottom: 0 !important; }

.nav-filters li { position: relative; }

.cross { background: url('../img/icons-s953d242382.png') 0 -2723px no-repeat; width: 8px; height: 8px; position: absolute; top: 8px; left: -14px; }
.cross:hover { cursor: pointer; }

.ok { background: url('../img/icons-s953d242382.png') 0 -2655px no-repeat; width: 8px; height: 8px; position: absolute; top: 8px; left: -14px; }
.ok:hover { cursor: pointer; }
