/*
Syntax error: Undefined mixin 'sized-sprite'.
        on line 20 of D:/coderiver/fotomost/fotomost/sass/ie.scss, in `sized-sprite'
        from line 20 of D:/coderiver/fotomost/fotomost/sass/ie.scss

Backtrace:
D:/coderiver/fotomost/fotomost/sass/ie.scss:20:in `sized-sprite'
D:/coderiver/fotomost/fotomost/sass/ie.scss:20
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/tree/root_node.rb:20:in `render'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/engine.rb:315:in `_render'
D:/Programs/fire.app/fire.app/lib/ruby/common/sass-3.2.7/lib/sass/../sass/engine.rb:262:in `render'
file:/D:/Programs/fire.app/fire.app/fire-app.jar!/compass_patch.rb:113:in `compile'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/D:/Programs/fire.app/fire.app/fire-app.jar!/compass_patch.rb:112:in `compile'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/D:/Programs/fire.app/fire.app/fire-app.jar!/compass_patch.rb:111:in `compile'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
D:/Programs/fire.app/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
file:/D:/Programs/fire.app/fire.app/fire-app.jar!/app_watcher.rb:18:in `watch!'
file:/D:/Programs/fire.app/fire.app/fire-app.jar!/ui/tray.rb:610:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'sized-sprite'.\A         on line 20 of D:/coderiver/fotomost/fotomost/sass/ie.scss, in `sized-sprite'\A         from line 20 of D:/coderiver/fotomost/fotomost/sass/ie.scss"; }
