/* default layout
.l{
	width: 100%;
	display: inline-block;

	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
}*/
.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 220px; background-color: #d3eaf8; border-radius: 0 10px 0 10px; }
.l .l-col2 { float: left; width: 775px; margin-left: 5px; }
