.out { width: 1000px; margin: 0 auto; }

.content { background-color: white; margin: 5px 0 10px; position: relative; }

.wrapper { border: 5px solid #d3eaf8; border-radius: 10px 10px 10px 10px; }
