.slider { width: 990px; height: 215px; float: left; }

.scrollable img { width: 999px; height: 98px; margin-top: 15px; float: left; }

.wrap-conteiner { width: 1000px; height: 100px; background-color: white; float: left; }
