@charset "IBM866";
img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

/* HOW TO USE SPRITES, see _base.scss*/
.whatever { background: url('../img/icons-s032ba3ac1a.png') 0 0 no-repeat; width: 199px; height: 50px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .whatever { background: url('../img/icons-s032ba3ac1a.png') 0 0 no-repeat; width: 199px; height: 50px; } }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #00919e; }
a:hover { text-decoration: none; }

.header-conteiner { overflow: hidden; }
.header-conteiner .menu-border { width: 7px; height: 37px; float: left; background: url('../img/icons-s032ba3ac1a.png') 0 -899px no-repeat; width: 7px; height: 37px; }

.top-nav { width: 800px; height: 25px; margin: 7px 0px 0 85px; float: left; border-bottom: 5px solid #d3eaf8; }
.top-nav ul.top-menu { list-style: none; float: right; margin-right: 5px; }
.top-nav ul.top-menu li { float: left; margin-left: 5px; }
.top-nav ul.top-menu li a { font: 11px Arial, sans-serif; text-decoration: none; color: #000; }
.top-nav ul.top-menu li span { margin-left: 5px; }

ul.login { list-style: none; }
ul.login li { float: left; margin-right: 10px; }
ul.login li a { font: 11px Arial, sans-serif; color: #003366; text-decoration: none; }
ul.login li span { margin-left: 10px; color: #677a95; }

.operation-time { width: 108px; height: 37px; background-color: #d3eaf8; float: right; display: inline-block; font: 10px Arial, sans-serif; line-height: 10px; color: #069; border-radius: 0px 0px 10px 0; }
.operation-time div { font-weight: bold; float: right; margin-right: 10px; }
.operation-time div.mr14 { margin-right: 14px; }
.operation-time span { width: 30px; font-weight: normal; }

.wrap-logo { width: 1000px; height: 36px; position: relative; }
.wrap-logo .logo { background: url('../img/icons-s032ba3ac1a.png') 0 0 no-repeat; width: 199px; height: 50px; width: 198px; height: 49px; position: absolute; top: -13px; left: 0px; float: left; }
.wrap-logo .logo a { display: block; width: 198px; height: 49px; font: 0/0 a; text-shadow: none; }
.wrap-logo .wrap-logo__note { height: 14px; padding: 0 5px; background-color: #fff; position: absolute; top: 28px; left: 56px; font: 13px Arial, sans-serif; color: #000; font-weight: bold; }

.search-conteiner { width: 802px; height: 30px; float: right; border-radius: 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZGRmMyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOTlkMGVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODBjNGVhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5ddf3), color-stop(50%, #99d0ef), color-stop(100%, #80c4ea)); background-image: -webkit-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: -moz-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: -o-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); margin-top: 3px; }

form.search { margin: 4px 0 0 4px; position: relative; float: left; }
form.search input { width: 336px; height: 20px; border-radius: 5px; border: 1px solid white; padding: 0 7px; font: 12px Arial, sans-serif; line-height: 20px; }
form.search input:-moz-placeholder { color: #036; }
form.search input:-o-placeholder { color: #036; }
form.search input::-webkit-input-placeholder { color: #036; }
form.search button { width: 20px; height: 20px; background: url('../img/icons-s032ba3ac1a.png') 0 -446px no-repeat; width: 20px; height: 20px; position: absolute; left: 328px; top: 1px; cursor: pointer; border: none; }
form.search button span { display: none; line-height: 1; font-weight: bold; color: #fff; }

.phone-number { float: left; margin: 0px 0 0 10px; color: #036; }
.phone-number span b { font-size: 18px; margin-top: 10px; position: relative; top: 2px; }

.wrap-slider { width: 985px; padding: 5px; border-top: 5px solid #d3eaf8; border-left: 5px solid #d3eaf8; border-bottom: 5px solid #d3eaf8; border-radius: 10px 0 0 10px; }

.primary-nav { position: relative; }
.primary-nav ul { width: 885px; height: 40px; padding: 0 105px 0 0; border-radius: 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZGRmNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2ViOWU4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDU5OWRkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1ddf4), color-stop(50%, #7eb9e8), color-stop(100%, #4599dd)); background-image: -webkit-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: -moz-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: -o-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); list-style: none; }
.primary-nav ul li { padding: 4px 10px; margin: 5px 0 0; float: left; background: url('../img/icons-s032ba3ac1a.png') 0 -859px no-repeat; width: 2px; height: 30px; width: auto; height: auto; }
.primary-nav ul li:first-child { background: none; }
.primary-nav ul li a { font: 18px Arial, sans-serif; text-decoration: none; color: #fff; line-height: 24px; }

.chip { background: url('../img/icons-s032ba3ac1a.png') 0 -79px no-repeat; width: 106px; height: 40px; width: 106px; height: 40px; position: absolute; top: 0px; right: -5px; border-radius: 0 10px 10px 0; font: 10px Arial, sans-serif; line-height: 10px; }
.chip .chip-note { position: absolute; top: 10px; right: 5px; }

.footer { width: 100%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZThmNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2FjMWVhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmFiYWU3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cee8f7), color-stop(50%, #7ac1ea), color-stop(100%, #6abae7)); background-image: -webkit-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: -moz-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: -o-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); display: inline-block; border-radius: 5px 5px 0 0; font: 10px Arial, sans-serif; line-height: 15px; margin-top: 15px; }
.footer ul { float: left; list-style: none; margin: 15px 10px; }
.footer ul li { padding: 0px 5px; }
.footer ul li:first-child { font-weight: bold; }
.footer ul li a { text-decoration: none; color: #036; }

ul.by-type li a { font-weight: bold; }

.right-conteiner { margin: 15px 15px 0; text-align: right; }

ul.bottom-menu { float: right; list-style: none; margin: 5px 15px; }
ul.bottom-menu li { float: left; }
ul.bottom-menu li:first-child { font-weight: normal; }
ul.bottom-menu li span { margin-left: 5px; }

.address { margin-top: 10px; color: #fff; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

/* default layout
.l{
	width: 100%;
	display: inline-block;

	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
}*/
.l { width: 100%; display: inline-block; }

.sidebar { float: left; width: 220px; }

.main-col { float: left; width: 775px; margin-left: 5px; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.out { width: 1000px; margin: 0 auto; }

.content { background-color: white; margin: 5px 0 10px; position: relative; }

.wrapper { border: 5px solid #d3eaf8; border-radius: 10px 10px 10px 10px; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

/* -------------------------------------------- CONTAINER -------------------------------------------- */
.breadcrumbs { padding: 0 5px; position: absolute; top: -11px; left: 20px; background-color: white; }
.breadcrumbs ul { list-style-type: none; }
.breadcrumbs li { position: relative; display: inline-block; margin-left: 10px; }
.breadcrumbs li:before { background: url('../img/icons-s032ba3ac1a.png') 0 -1271px no-repeat; width: 4px; height: 7px; color: #d1d1d1; content: ""; left: -8px; position: absolute; top: 35%; }
.breadcrumbs a { text-decoration: none; color: #666; font-size: 10px; }
.breadcrumbs a:hover { text-decoration: underline; }

.title-1 { font-size: 34px; color: #666666; position: relative; padding-left: 29px; }

.product__header .wrapper { border-radius: 10px 10px 0 0; border: 5px solid #d3eaf8; border-bottom: none; }
.product__header .wrapper:before { background: url('../img/icons-s032ba3ac1a.png') 0 -1252px no-repeat; width: 8px; height: 9px; position: absolute; bottom: 0; left: 5px; content: ""; }
.product__header .wrapper:after { background: url('../img/icons-s032ba3ac1a.png') 0 -60px no-repeat; width: 8px; height: 9px; position: absolute; bottom: 0; right: 5px; content: ""; }

/* -------------------------------------------- // END CONTAINER -------------------------------------------- */
/* -------------------------------------------- SIDEBAR -------------------------------------------- */
.filters { background-color: #d3eaf8; border-radius: 0 10px 0 10px; line-height: 1.8; padding: 20px 20px 20px 30px; }
.filters h4 { color: black; font-size: 13px; margin-left: 5px; font-weight: bold; }
.filters ul { list-style: none; border-bottom: 1px dotted #71b1e5; }
.filters ul ul { padding-left: 10px; }
.filters ul a { color: #006699; text-decoration: none; }
.filters ul a:hover { text-decoration: underline; }

form { display: inline-block; }

/* -------------------------------------------- // END SIDEBAR -------------------------------------------- */
/* -------------------------------------------- MAIN-COL -------------------------------------------- */
.sort-view { padding: 10px; height: 16px; background-color: #d3eaf8; border-radius: 10px 0 10px 0; }
.sort-view .sort { display: inline-block; }
.sort-view .view { float: right; }

.product-block { margin: 20px 0; }

.page-nav_product { float: right; display: block; margin: 5px 0; }

.product { border-top: 1px solid #a7d6f1; min-height: 170px; overflow: hidden; display: inline-block; }
.product .product__media { float: left; width: 170px; margin: 15px 5px 15px 0; text-align: center; overflow: hidden; }
.product .product__media .product__img { margin: 0 5px 5px; }
.product .stars_product { margin: 0 20px; }
.product .stars { display: inline-block; }
.product .stars .star { display: inline-block; background: url('../img/icons-s032ba3ac1a.png') 0 -1169px no-repeat; width: 12px; height: 12px; }
.product .stars .chosen { background: url('../img/icons-s032ba3ac1a.png') 0 -1230px no-repeat; width: 12px; height: 12px; }
.product .product__info { float: left; width: 600px; margin: 20px 0; }
.product .product__content { border-bottom: 1px dotted #d9d9d9; margin-bottom: 10px; overflow: hidden; }
.product .product__description { margin: 0 0 10px 0; float: left; width: 420px; }
.product .product__description h2 { color: #666; font-size: 18px; }
.product .product__description h2 a { text-decoration: none; color: #666; }
.product .product__description h2 a:hover { text-decoration: underline; }
.product .product__code { color: #006699; font-size: 12px; margin: 0.4em 0; display: inline-block; }
.product .product__text { font-size: 13px; color: #999; }
.product .product__details { float: left; width: 160px; margin: 5px 0 0 20px; }
.product .product__status { color: #006699; border-bottom: 1px dotted #d9d9d9; }
.product .product__price strong { color: #ff6600; font-size: 26px; }
.product .product__price strong i { font-size: 18px; font-style: normal; }
.product .product__meta { overflow: hidden; }
.product .product__links .link-comments { float: left; color: #ff6600; }
.product .product__links .link-compare { float: right; line-height: 1; color: #ff6600; }
.product .product__links .link-compare label { text-decoration: underline; cursor: pointer; display: inline-block; vertical-align: middle; }
.product .product__links .link-compare label:hover { text-decoration: none; }
.product .product__links .link-compare input { display: inline-block; vertical-align: middle; }
.product .buy-buttons { position: relative; width: 160px; height: 29px; overflow: hidden; }
.product .buy-buttons .btn-basket { font-size: 11px !important; font-family: Tahoma, "Geneva CY", sans-serif; color: #ffffff; position: absolute; top: 0; left: 0; background: url('../img/icons-s032ba3ac1a.png') 0 -1130px no-repeat; width: 78px; height: 29px; display: inline-block; text-transform: uppercase; text-decoration: none; }
.product .buy-buttons .btn-basket:hover { text-decoration: none; }
.product .buy-buttons .btn-basket strong { position: absolute; left: 6px; top: 6px; }
.product .buy-buttons .btn-credit { font-size: 12px; line-height: 1; position: absolute; right: 0; text-decoration: none; top: 0; color: #ff6600; font-family: Tahoma, "Geneva CY", sans-serif; background: url('../img/icons-s032ba3ac1a.png') 0 -1191px no-repeat; width: 86px; height: 29px; }
.product .buy-buttons .btn-credit:hover { text-decoration: none; }
.product .buy-buttons .btn-credit span { left: 20px; position: absolute; text-align: right; text-transform: uppercase; top: 2px; }

/* -------------------------------------------- // END MAIN-COL -------------------------------------------- */
img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.profile__main .sidebar { position: relative; background-color: white; margin: 0 0 5px 0; text-align: right; }
.profile__main .sidebar .filters { margin: 0 0 5px 0; }
.profile__main .sidebar .profile__data { border: 1px solid #d3eaf8; border-radius: 0 10px; margin: 0 0 5px; padding: 10px 10px 10px 20px; }

.profile__header .wrapper { border-radius: 10px 10px 0 0; border: 5px solid #d3eaf8; border-bottom: none; }
.profile__header .wrapper:before { background: url('../img/icons-s032ba3ac1a.png') 0 -1252px no-repeat; width: 8px; height: 9px; position: absolute; bottom: 0; left: 5px; content: ""; }

.main-col_profile { margin-left: -5px; width: 785px; float: left; }
.main-col_profile .wrapper { border-radius: 0 0 10px 10px; border-top: none; }
.main-col_profile article { margin: 0 25px 40px 50px; min-height: 400px; color: #666; }
.main-col_profile article p { margin-bottom: 1em; }

.title-2 { font-size: 24px; border-bottom: 1px dotted #a7d6f1; margin-bottom: 1em; font-weight: normal; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.slider { width: 990px; height: 215px; margin-top: 5px; }

.wrap-scrollable { width: 994px; height: 80px; margin: 5px 0 15px; padding: 4px 0; border-top: 5px solid #a7d6f1; border-right: 5px solid #a7d6f1; border-bottom: 5px solid #a7d6f1; border-radius: 0px 5px 5px 0; position: relative; }
.wrap-scrollable .scrollable__switch { width: 73px; height: 15px; position: absolute; top: -15px; right: 30px; background-color: #fff; padding: 0 4px; }
.wrap-scrollable .scrollable__fix { background: url('../img/icons-s032ba3ac1a.png') 0 -179px no-repeat; width: 141px; height: 80px; width: 133px; height: 40px; font: 16px Arial, sans-serif; color: #f60; padding: 20px 4px; float: left; }
.wrap-scrollable .toggle { background: url('../img/icons-s032ba3ac1a.png') 0 -515px no-repeat; width: 11px; height: 87px; width: 11px; height: 88px; position: absolute; right: 10px; top: 0px; }
.wrap-scrollable .toggle a { width: 11px; height: 20px; display: inline-block; position: absolute; top: 30px; }

.scrollable__items { height: 78px; float: left; margin-left: 10px; border-right: 2px dotted #dbe2e8; }
.scrollable__items .scrollable__img { float: left; }
.scrollable__items .scrollable__descr { width: 100px; height: 70px; float: left; margin: 7px 5px; font: 12px Arial, sans-serif; line-height: 14px; overflow: hidden; }

ul.item-product { list-style: none; float: left; border-bottom: 1px solid #a7d6f1; }
ul.item-product li { width: 329px; height: 163px; padding-bottom: 25px; border-right: 1px solid #a7d6f1; float: left; position: relative; }
ul.item-product li:last-child { border-right: none; }

ul.border-b__none { border-bottom: none; }

.item-foto { width: 185px; margin: 10px 0 0 10px; float: left; }

.wrap-description { width: 115px; float: right; text-align: right; font: 16px Tahoma, sans-serif; color: #666; margin-right: 15px; margin-top: 5px; }
.wrap-description p { height: 95px; overflow: hidden; }
.wrap-description .price { position: absolute; top: 120px; right: 15px; }
.wrap-description .price b { font: 26px Tahoma, sans-serif; color: #f60; font-weight: normal; display: block; }
.wrap-description .price i { font: 18px Tahoma, sans-serif; color: #999; }

.add-chip { background: url('../img/icons-s032ba3ac1a.png') 0 -343px no-repeat; width: 78px; height: 29px; width: 70px; height: 15px; padding: 7px 4px; position: absolute; bottom: 15px; left: 20px; }
.add-chip a { width: 70px; height: 15px; padding: 7px 4px; font: 11px Tahoma, sans-serif; color: #fff; font-weight: bold; text-decoration: none; position: absolute; top: 0; left: 0; }

.add-chip_position { position: relative; bottom: 0; left: 0; display: inline-block; float: left; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.m_bottom { margin-bottom: 5px; }

a.chosen { color: #000; }

.chip__end { background: url('../img/icons-s032ba3ac1a.png') 0 -382px no-repeat; width: 27px; height: 29px; }

.breadcrumbs__big div { background: url('../img/icons-s032ba3ac1a.png') 0 -836px no-repeat; width: 14px; height: 13px; width: 100%; height: 20px; color: #d1d1d1; content: ""; left: 20px; position: absolute; top: -5px; }
.breadcrumbs__big span { position: absolute; top: -6px; left: 31px; padding: 0 5px; background-color: #fff; }

.product__header .wrapper { overflow: hidden; }

.stars { display: inline-block; }
.stars .star { display: inline-block; background: url('../img/icons-s032ba3ac1a.png') 0 -1169px no-repeat; width: 12px; height: 12px; }
.stars .chosen { background: url('../img/icons-s032ba3ac1a.png') 0 -1230px no-repeat; width: 12px; height: 12px; }

.product__price { margin: 10px 0; }
.product__price strong { color: #f60; font-size: 26px; }
.product__price strong i { font-size: 18px; font-style: normal; }

.link-compare { float: right; line-height: 1; color: #f60; }
.link-compare label { text-decoration: underline; cursor: pointer; display: inline-block; vertical-align: middle; }
.link-compare label:hover { text-decoration: none; }
.link-compare input { display: inline-block; vertical-align: middle; }

.link-compare_margin { margin: 15px 0 0; }

div.btn-credit { display: inline-block; background: url('../img/icons-s032ba3ac1a.png') 0 -476px no-repeat; width: 20px; height: 29px; }

.btn-credit_body { width: 300px; background: url(../img/icons/btn-credit-bg.png) 0px 0px repeat-x; height: 29px; margin-left: 19px; position: relative; }
.btn-credit_body span { font: 14px Arial, sans-serif; color: #f60; }

.btn-credit_end { background: url('../img/icons-s032ba3ac1a.png') 0 -1052px no-repeat; width: 6px; height: 29px; position: absolute; right: -6px; top: 0; }

.product__header { overflow: hidden; }
.product__header .wrapper_item { border-radius: 10px; border: 5px solid #d3eaf8; overflow: hidden; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.item__scrollable { width: 300px; float: left; }
.item__scrollable .item__product { text-align: center; vertical-align: middle; }
.item__scrollable .item__product img { vertical-align: middle; }

.item__icons { position: relative; margin: 30px 0; }
.item__icons ul { display: inline-block; margin: 15px 30px 0; list-style: none; }
.item__icons ul li { width: 46px; height: 46px; float: left; margin: 0 4px 0 0; border: 2px solid #a8d6f1; border-radius: 3px; padding: 2px; }
.item__icons ul li:hover { border: 2px solid #418db3; }
.item__icons ul li:first-child { margin-left: 4px; }
.item__icons ul li img { width: 100%; height: 100%; }
.item__icons .arrow_l { width: 9px; height: 15px; position: absolute; top: 35px; left: 18px; background: url(../img/icons/arrow-l_hover.png); cursor: pointer; }
.item__icons .arrow_l.disable { width: 9px; height: 15px; position: absolute; top: 35px; left: 18px; background: url(../img/icons/arrow-l.png); cursor: default; }
.item__icons .arrow_r { width: 9px; height: 15px; position: absolute; top: 35px; right: 22px; background: url(../img/icons/arrow-r_hover.png); cursor: pointer; }
.item__icons .arrow_r.disable { width: 9px; height: 15px; position: absolute; top: 35px; right: 22px; background: url(../img/icons/arrow-r.png); cursor: default; }

.item__description { width: 400px; margin: 15px 15px 20px 20px; float: left; position: relative; }
.item__description h1 { font: 44px Garamond, serif; font-weight: bold; }
.item__description span { font: 18px Arial, sans-serif; display: inline-block; color: #666; }
.item__description b { font: 12px Arial, sans-serif; color: #069; position: absolute; right: 0; }
.item__description .item__info { font: 13px Arial, sans-serif; color: #999; border-top: 1px dotted #a7d6f1; padding: 5px 0; }
.item__description .btn-credit_body { font: 14px Arial, sans-serif; color: #f60; }
.item__description .btn-credit_body span { font: 14px Arial, sans-serif; color: #f60; position: absolute; left: 0; top: 6px; margin: 0; }
.item__description .btn-credit_body a { font: 14px Arial, sans-serif; color: #f60; position: absolute; right: 3px; top: 6px; }

.in-stock { background: url('../img/icons-s032ba3ac1a.png') 0 -421px no-repeat; width: 15px; height: 15px; width: 100%; padding-left: 20px; font: 14px Arial, sans-serif; color: #069; font-weight: bold; margin: 15px 0 0; }

.btn-credit { background: url('../img/icons-s032ba3ac1a.png') 0 -1191px no-repeat; width: 86px; height: 29px; }

.item__list { width: 220px; border: 1px solid #81cde6; border-radius: 5px; margin: 5px 5px 15px; float: right; }
.item__list ul { list-style: none; margin: 0 10px; }
.item__list ul li { background: url(../img/icons/arrow_list.png) 0 5px no-repeat; font: 12px Arial, sans-serif; color: #069; margin: 5px 0; padding: 0 10px; }

.item__head { margin: 7px; border-bottom: 1px dotted #a7d6f1; padding-bottom: 2px; }
.item__head a { float: right; color: #f60; }

.item__nav { position: relative; top: -20px; left: 20px; }
.item__nav ul { float: left; border-left: 8px solid white; list-style: none; }
.item__nav ul li { padding: 8px 0px; float: left; background-color: #d3eaf8; border-right: 1px solid white; }
.item__nav ul li:hover { border-radius: 5px 5px 0 0; background-color: #09c; }
.item__nav ul li:hover a { color: #fff; }
.item__nav ul li:first-child { border-radius: 5px 0 0 0; }
.item__nav ul li a { padding: 8px 15px; font: 16px Arial, sans-serif; color: #036; text-decoration: none; }
.item__nav ul li.active { background-color: #09c; border-radius: 5px 5px 0 0; color: #fff; }
.item__nav ul li.active a { color: #fff; }
.item__nav ul li.active:before { background: url(../img/icons/bottom_list.png) 0 5px no-repeat; }
.item__nav .item__nav-end { height: 35px; background-color: #d3eaf8; margin: 0 33px 0 20px; }
.item__nav .item__nav-end:before { content: ""; background: url('../img/icons-s032ba3ac1a.png') 0 -714px no-repeat; width: 13px; height: 42px; position: absolute; right: 20px; bottom: 0px; }

.item-conteiner { width: 999px; display: inline-block; }
.item-conteiner .conteiner__left { width: 600px; float: left; margin: 0 30px; }
.item-conteiner .conteiner__left .conteiner__meta { font: 20px Arial, sans-serif; color: #666; }
.item-conteiner .conteiner__left .conteiner__meta h2 { display: inline-block; margin: 0 10px; }
.item-conteiner .conteiner__left table thead { font: 20px Arial, sans-serif; color: #666; display: inline-block; border-bottom: 1px dotted #a7d6f1; width: 100%; }
.item-conteiner .conteiner__left table thead span { font-weight: bold; }
.item-conteiner .conteiner__left tbody tr { border-bottom: 1px dotted #cccccc; vertical-align: top; display: inline-block; width: 100%; }
.item-conteiner .conteiner__left tbody tr:last-child { border-bottom: none; }
.item-conteiner .conteiner__left tbody tr th { width: 225px; text-align: left; vertical-align: middle; }
.item-conteiner .conteiner__left tbody tr td { padding: 5px 0; }
.item-conteiner .conteiner__left ul { list-style: none; }
.item-conteiner .conteiner__left ul li { color: #666; }
.item-conteiner .conteiner__left ul li:first-child { font: 20px Arial, sans-serif; border-bottom: 1px dotted #cccccc; padding-bottom: 10px; margin-bottom: 10px; }
.item-conteiner p { margin: 1em 0em; color: #666; }

.conteiner__right { float: right; position: relative; }

.sexy-slider .sexy-item { width: 130px; position: relative; float: left; margin: 10px 5px; }
.sexy-slider .sexy-item:first-child { border-right: 1px solid #a7d6f1; margin-left: 25px; }
.sexy-slider .sexy-item:last-child { margin-right: 20px; margin-left: 15px; }
.sexy-slider .sexy-item .chip__end { position: absolute; left: 80px; }
.sexy-slider .sexy-item .sexy-item__check-l { background: url('../img/icons-s032ba3ac1a.png') 0 -689px no-repeat; width: 9px; height: 15px; display: inline-block; position: relative; left: -20px; top: 40px; }
.sexy-slider .sexy-item .sexy-item__check-l a { display: inline-block; width: 9px; height: 16px; }
.sexy-slider .sexy-item .sexy-item__check-r { background: url('../img/icons-s032ba3ac1a.png') 0 -638px no-repeat; width: 9px; height: 15px; position: relative; right: -135px; top: 40px; display: inline-block; }
.sexy-slider .sexy-item .sexy-item__check-r a { display: inline-block; width: 9px; height: 16px; }
.sexy-slider .sexy-item.sexy-item_width { width: 120px; border-right: 1px solid #a7d6f1; }
.sexy-slider .sexy-slider__meta { font: 12px Arial, sans-serif; color: #333; margin: 10px 0; font-weight: bold; width: 110px; height: 45px; overflow: hidden; }
.sexy-slider .sexy-slider__img { display: inline-block; }

.lteie8 body { background: red; }
