@charset "IBM866";
img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

a { color: #00919e; }
a:hover { text-decoration: none; }

.out { width: 1000px; margin: 0 auto; }

.wrap { margin: 0 auto; }

.header-conteiner .menu-border { width: 7px; height: 37px; float: left; background: url("../img/icons/top-menu_border.png") 0 0 no-repeat; }

.top-nav { width: 800px; height: 25px; margin: 7px 0px 0 85px; float: left; border-bottom: 5px solid #d3eaf8; }
.top-nav ul.top-menu { list-style: none; float: right; margin-right: 5px; }
.top-nav ul.top-menu li { float: left; margin-left: 5px; }
.top-nav ul.top-menu li a { font: 11px Arial, sans-serif; text-decoration: none; color: #000; }
.top-nav ul.top-menu li span { margin-left: 5px; }

ul.login { list-style: none; }
ul.login li { float: left; margin-right: 10px; }
ul.login li a { font: 11px Arial, sans-serif; color: #003366; text-decoration: none; }
ul.login li span { margin-left: 10px; color: #677a95; }

.operation-time { width: 108px; height: 37px; background-color: #d3eaf8; float: right; display: inline-block; font: 10px Arial, sans-serif; line-height: 10px; color: #069; border-radius: 0px 0px 10px 0; }
.operation-time div { font-weight: bold; float: right; margin-right: 10px; }
.operation-time div.mr14 { margin-right: 14px; }
.operation-time span { width: 30px; font-weight: normal; }

.wrap-logo { width: 1000px; height: 36px; float: left; position: relative; }
.wrap-logo .logo { width: 198px; height: 49px; background: url("../img/icons/logo.png") 0 0 no-repeat; position: relative; top: -13px; left: 0px; float: left; }
.wrap-logo .logo a { display: block; width: 198px; height: 49px; font: 0/0 a; text-shadow: none; }
.wrap-logo .wrap-logo__note { height: 14px; padding: 0 5px; background-color: #fff; position: absolute; top: 28px; left: 56px; font: 13px Arial, sans-serif; color: #000; font-weight: bold; }

.search-conteiner { width: 802px; height: 30px; float: left; border-radius: 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZGRmMyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOTlkMGVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODBjNGVhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5ddf3), color-stop(50%, #99d0ef), color-stop(100%, #80c4ea)); background-image: -webkit-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: -moz-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: -o-linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); background-image: linear-gradient(top, #b5ddf3 0%, #99d0ef 50%, #80c4ea 100%); margin-top: 3px; }

form.search { margin: 4px 0 0 4px; position: relative; float: left; }
form.search input { width: 336px; height: 20px; border-radius: 5px; border: 1px solid white; padding: 0 7px; font: 12px Arial, sans-serif; line-height: 20px; }
form.search input:-moz-placeholder { color: #036; }
form.search input:-o-placeholder { color: #036; }
form.search input::-webkit-input-placeholder { color: #036; }
form.search button { width: 20px; height: 20px; background: url("../img/icons/search-button.png") 0 0 no-repeat; position: absolute; left: 328px; top: 1px; cursor: pointer; border: none; }
form.search button span { display: none; line-height: 1; font-weight: bold; color: #fff; }

.phone-number { float: left; margin: 0px 0 0 10px; color: #036; }
.phone-number span b { font-size: 18px; margin-top: 10px; position: relative; top: 2px; }

.wrap-slider { width: 985px; padding: 5px; border-top: 5px solid #d3eaf8; border-left: 5px solid #d3eaf8; border-bottom: 5px solid #d3eaf8; border-radius: 10px 0 0 10px; float: left; }

.primary-nav { position: relative; }
.primary-nav ul { width: 885px; height: 40px; padding: 0 105px 0 0; margin-bottom: 5px; border-radius: 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxZGRmNCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2ViOWU4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDU5OWRkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1ddf4), color-stop(50%, #7eb9e8), color-stop(100%, #4599dd)); background-image: -webkit-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: -moz-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: -o-linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); background-image: linear-gradient(top, #c1ddf4 0%, #7eb9e8 50%, #4599dd 100%); list-style: none; }
.primary-nav ul li { padding: 4px 10px; margin: 5px 0; float: left; background: url("../img/icons/primary-menu_border.png") 0 0 no-repeat; }
.primary-nav ul li:first-child { background: none; }
.primary-nav ul li a { font: 18px Arial, sans-serif; text-decoration: none; color: #fff; line-height: 24px; }

.pre-chip { width: 35px; height: 40px; background: url("../img/icons/chip-border2.png") 0 0 no-repeat; position: absolute; right: 70px; top: 0; }

.chip { width: 80px; height: 40px; background: url("../img/icons/chip_bg.png") 0 0 repeat-x; position: absolute; top: 0px; right: -5px; border-radius: 0 10px 10px 0; font: 10px Arial, sans-serif; line-height: 10px; }
.chip .chip-note { position: absolute; top: 10px; right: 10px; }

.footer { width: 1000px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZThmNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2FjMWVhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmFiYWU3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cee8f7), color-stop(50%, #7ac1ea), color-stop(100%, #6abae7)); background-image: -webkit-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: -moz-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: -o-linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); background-image: linear-gradient(top, #cee8f7 0%, #7ac1ea 50%, #6abae7 100%); float: left; border-radius: 5px 5px 0 0; font: 10px Arial, sans-serif; line-height: 15px; margin-top: 15px; }
.footer ul { float: left; list-style: none; margin: 15px 10px; }
.footer ul li { padding: 0px 5px; }
.footer ul li:first-child { font-weight: bold; }
.footer ul li a { text-decoration: none; color: #036; }

ul.by-type li a { font-weight: bold; }

.right-conteiner { margin: 15px 15px 0; text-align: right; }

ul.bottom-menu { float: right; list-style: none; margin: 5px 15px; }
ul.bottom-menu li { float: left; }
ul.bottom-menu li:first-child { font-weight: normal; }
ul.bottom-menu li span { margin-left: 5px; }

.address { margin-top: 10px; color: #fff; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */ filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.slider { width: 990px; height: 215px; float: left; }

.wrap-scrollable { width: 994px; height: 80px; margin: 5px 0 15px; padding: 4px 0; float: left; border-top: 5px solid #a7d6f1; border-right: 5px solid #a7d6f1; border-bottom: 5px solid #a7d6f1; border-radius: 0px 5px 5px 0; position: relative; }
.wrap-scrollable .scrollable__switch { width: 73px; height: 15px; position: absolute; top: -15px; right: 30px; background-color: #fff; padding: 0 4px; }
.wrap-scrollable .scrollable__fix { width: 133px; height: 40px; background: url("../img/icons/scroll_icons.png") 0 0 no-repeat; font: 16px Arial, sans-serif; color: #f60; padding: 20px 4px; float: left; }
.wrap-scrollable .toggle { width: 11px; height: 88px; background: url("../img/icons/arrow2.png") 0 0 no-repeat; position: absolute; right: 10px; top: 0px; }
.wrap-scrollable .toggle a { width: 11px; height: 20px; display: inline-block; position: absolute; top: 30px; }

.scrollable__items { height: 78px; float: left; margin-left: 10px; border-right: 2px dotted #dbe2e8; }
.scrollable__items .scrollable__img { float: left; }
.scrollable__items .scrollable__descr { width: 100px; height: 70px; float: left; margin: 7px 5px; font: 12px Arial, sans-serif; line-height: 14px; overflow: hidden; }

.wrap-conteiner { width: 1000px; background-color: white; float: left; }
.wrap-conteiner ul { list-style: none; float: left; border-bottom: 1px solid #a7d6f1; }
.wrap-conteiner ul li { width: 332px; height: 163px; padding-bottom: 25px; border-right: 1px solid #a7d6f1; float: left; position: relative; }
.wrap-conteiner ul li:last-child { border-right: none; }
.wrap-conteiner ul.border-b__none { border-bottom: none; }

.item-foto { width: 185px; margin: 10px 0 0 10px; float: left; }

.wrap-description { width: 115px; float: right; text-align: right; font: 16px Tahoma, sans-serif; color: #666; margin-right: 15px; margin-top: 5px; }
.wrap-description p { height: 95px; overflow: hidden; }
.wrap-description .price { position: absolute; top: 120px; right: 15px; }
.wrap-description .price b { font: 26px Tahoma, sans-serif; color: #f60; font-weight: normal; display: block; }
.wrap-description .price i { font: 18px Tahoma, sans-serif; color: #999; }

.add-chip { width: 70px; height: 15px; padding: 7px 4px; background: url("../img/icons/add-chip.png") 0 0 no-repeat; position: absolute; bottom: 15px; left: 20px; }
.add-chip a { width: 70px; height: 15px; padding: 7px 4px; font: 12px Tahoma, sans-serif; color: #fff; text-decoration: none; position: absolute; top: 0; left: 0; }

.lteie8 body { background: red; }
