.item__scrollable { width: 300px; float: left; }
.item__scrollable .item__product { text-align: center; vertical-align: middle; }
.item__scrollable .item__product img { vertical-align: middle; }

.item__icons { position: relative; margin: 30px 0; }
.item__icons ul { display: inline-block; margin: 15px 30px 0; list-style: none; }
.item__icons ul li { width: 46px; height: 46px; float: left; margin: 0 4px 0 0; border: 2px solid #a8d6f1; border-radius: 3px; padding: 2px; }
.item__icons ul li:hover { border: 2px solid #418db3; }
.item__icons ul li:first-child { margin-left: 4px; }
.item__icons ul li img { width: 100%; height: 100%; }
.item__icons .arrow_l { width: 9px; height: 15px; position: absolute; top: 35px; left: 18px; background: url(../img/icons/arrow-l_hover.png); cursor: pointer; }
.item__icons .arrow_l.disable { width: 9px; height: 15px; position: absolute; top: 35px; left: 18px; background: url(../img/icons/arrow-l.png); cursor: default; }
.item__icons .arrow_r { width: 9px; height: 15px; position: absolute; top: 35px; right: 22px; background: url(../img/icons/arrow-r_hover.png); cursor: pointer; }
.item__icons .arrow_r.disable { width: 9px; height: 15px; position: absolute; top: 35px; right: 22px; background: url(../img/icons/arrow-r.png); cursor: default; }

.item__description { width: 400px; margin: 15px 15px 20px 20px; float: left; position: relative; }
.item__description h1 { font: 44px Garamond, serif; font-weight: bold; }
.item__description span { font: 18px Arial, sans-serif; display: inline-block; color: #666; }
.item__description b { font: 12px Arial, sans-serif; color: #069; position: absolute; right: 0; }
.item__description .item__info { font: 13px Arial, sans-serif; color: #999; border-top: 1px dotted #a7d6f1; padding: 5px 0; }
.item__description .btn-credit_body { font: 14px Arial, sans-serif; color: #f60; }
.item__description .btn-credit_body span { font: 14px Arial, sans-serif; color: #f60; position: absolute; left: 0; top: 6px; margin: 0; }
.item__description .btn-credit_body a { font: 14px Arial, sans-serif; color: #f60; position: absolute; right: 3px; top: 6px; }

.in-stock { background: url('../img/icons-s032ba3ac1a.png') 0 -421px no-repeat; width: 15px; height: 15px; width: 100%; padding-left: 20px; font: 14px Arial, sans-serif; color: #069; font-weight: bold; margin: 15px 0 0; }

.btn-credit { background: url('../img/icons-s032ba3ac1a.png') 0 -1191px no-repeat; width: 86px; height: 29px; }

.item__list { width: 220px; border: 1px solid #81cde6; border-radius: 5px; margin: 5px 5px 15px; float: right; }
.item__list ul { list-style: none; margin: 0 10px; }
.item__list ul li { background: url(../img/icons/arrow_list.png) 0 5px no-repeat; font: 12px Arial, sans-serif; color: #069; margin: 5px 0; padding: 0 10px; }

.item__head { margin: 7px; border-bottom: 1px dotted #a7d6f1; padding-bottom: 2px; }
.item__head a { float: right; color: #f60; }

.item__nav { position: relative; top: -20px; left: 20px; }
.item__nav ul { float: left; border-left: 8px solid white; list-style: none; }
.item__nav ul li { padding: 8px 0px; float: left; background-color: #d3eaf8; border-right: 1px solid white; }
.item__nav ul li:hover { border-radius: 5px 5px 0 0; background-color: #09c; }
.item__nav ul li:hover a { color: #fff; }
.item__nav ul li:first-child { border-radius: 5px 0 0 0; }
.item__nav ul li a { padding: 8px 15px; font: 16px Arial, sans-serif; color: #036; text-decoration: none; }
.item__nav ul li.active { background-color: #09c; border-radius: 5px 5px 0 0; color: #fff; }
.item__nav ul li.active a { color: #fff; }
.item__nav ul li.active:before { background: url(../img/icons/bottom_list.png) 0 5px no-repeat; }
.item__nav .item__nav-end { height: 35px; background-color: #d3eaf8; margin: 0 33px 0 20px; }
.item__nav .item__nav-end:before { content: ""; background: url('../img/icons-s032ba3ac1a.png') 0 -714px no-repeat; width: 13px; height: 42px; position: absolute; right: 20px; bottom: 0px; }

.item-conteiner { width: 999px; display: inline-block; }
.item-conteiner .conteiner__left { width: 600px; float: left; margin: 0 30px; }
.item-conteiner .conteiner__left .conteiner__meta { font: 20px Arial, sans-serif; color: #666; }
.item-conteiner .conteiner__left .conteiner__meta h2 { display: inline-block; margin: 0 10px; }
.item-conteiner .conteiner__left table thead { font: 20px Arial, sans-serif; color: #666; display: inline-block; border-bottom: 1px dotted #a7d6f1; width: 100%; }
.item-conteiner .conteiner__left table thead span { font-weight: bold; }
.item-conteiner .conteiner__left tbody tr { border-bottom: 1px dotted #cccccc; vertical-align: top; display: inline-block; width: 100%; }
.item-conteiner .conteiner__left tbody tr:last-child { border-bottom: none; }
.item-conteiner .conteiner__left tbody tr th { width: 225px; text-align: left; vertical-align: middle; }
.item-conteiner .conteiner__left tbody tr td { padding: 5px 0; }
.item-conteiner .conteiner__left ul { list-style: none; }
.item-conteiner .conteiner__left ul li { color: #666; }
.item-conteiner .conteiner__left ul li:first-child { font: 20px Arial, sans-serif; border-bottom: 1px dotted #cccccc; padding-bottom: 10px; margin-bottom: 10px; }
.item-conteiner p { margin: 1em 0em; color: #666; }

.conteiner__right { float: right; position: relative; }

.sexy-slider .sexy-item { width: 130px; position: relative; float: left; margin: 10px 5px; }
.sexy-slider .sexy-item:first-child { border-right: 1px solid #a7d6f1; margin-left: 25px; }
.sexy-slider .sexy-item:last-child { margin-right: 20px; margin-left: 15px; }
.sexy-slider .sexy-item .chip__end { position: absolute; left: 80px; }
.sexy-slider .sexy-item .sexy-item__check-l { background: url('../img/icons-s032ba3ac1a.png') 0 -689px no-repeat; width: 9px; height: 15px; display: inline-block; position: relative; left: -20px; top: 40px; }
.sexy-slider .sexy-item .sexy-item__check-l a { display: inline-block; width: 9px; height: 16px; }
.sexy-slider .sexy-item .sexy-item__check-r { background: url('../img/icons-s032ba3ac1a.png') 0 -638px no-repeat; width: 9px; height: 15px; position: relative; right: -135px; top: 40px; display: inline-block; }
.sexy-slider .sexy-item .sexy-item__check-r a { display: inline-block; width: 9px; height: 16px; }
.sexy-slider .sexy-item.sexy-item_width { width: 120px; border-right: 1px solid #a7d6f1; }
.sexy-slider .sexy-slider__meta { font: 12px Arial, sans-serif; color: #333; margin: 10px 0; font-weight: bold; width: 110px; height: 45px; overflow: hidden; }
.sexy-slider .sexy-slider__img { display: inline-block; }
