.profile__main .sidebar { position: relative; background-color: white; margin: 0 0 5px 0; text-align: right; }
.profile__main .sidebar .filters { margin: 0 0 5px 0; }
.profile__main .sidebar .profile__data { border: 1px solid #d3eaf8; border-radius: 0 10px; margin: 0 0 5px; padding: 10px 10px 10px 20px; }

.profile__header .wrapper { border-radius: 10px 10px 0 0; border: 5px solid #d3eaf8; border-bottom: none; }
.profile__header .wrapper:before { background: url('../img/icons-s335429c260.png') 0 -768px no-repeat; width: 8px; height: 9px; position: absolute; bottom: 0; left: 5px; content: ""; }

.main-col_profile { margin-left: -5px; width: 785px; float: left; }
.main-col_profile .wrapper { border-radius: 0 0 10px 10px; border-top: none; }
.main-col_profile article { margin: 0 25px 40px 50px; min-height: 400px; color: #666; }
.main-col_profile article p { margin-bottom: 1em; }

.title-2 { font-size: 24px; border-bottom: 1px dotted #a7d6f1; margin-bottom: 1em; font-weight: normal; }
