@import "base";


.content__main_textpage{
	.sidebar{
		position: relative;
		background-color: white;
		margin: 0 0 5px 0;
		text-align: right;
		.nav-textpage{
			margin: 0 0 5px 0;
			h4{
				color: #003366;
				font-size: 12px;
			}
			a{
				border-bottom: 1px dotted #71b1e5;
				display: block;
				text-decoration: none;
				color: #003366;
				&:hover{
					text-decoration: underline;
				}
			}
		}

		.profile__data{
			border: 1px solid #d3eaf8;
			border-radius: 0 10px;
			margin: 0 0 5px;
			padding: 10px 20px;
			color: #ff6600;
			a{
				color: #ff6600;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			h4{
				color: #666;
				font-size: 13px;
				margin-bottom: 1em;
			}
			h5{
				color: #999999;
				font-size: 12px;
			}

			.profile__edit{
				margin-top:15px;
				display: block;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

.content__header_textpage{
	.wrapper{
		border-radius: 10px 10px 0 0;
		border: 5px solid #d3eaf8;
		border-bottom: none;
		&:before{
			@include sized-sprite($icons, cor-bl);
			position: absolute;
			bottom: 0;
			left: 5px;
			content: "";
		}
	}
}

.main-col_textpage{
	margin-left: -5px;
	width: 785px;
	float: left;
	.wrapper{
		border-radius: 0 0 10px 10px;
		border-top: none;
	}
	article{
		margin: 0 25px 40px 50px;
		min-height: 400px;
		color: #666;
		p{
			margin-bottom: 1em;
		}
	}
}

.title-2{
	font-size: 24px;
	border-bottom: 1px dotted #a7d6f1;
	margin-bottom: 1em;
	font-weight: normal;
}