@import "base";

$title-1: #666;
$border: #d3eaf8;
$border2: #71b1e5;
$link: #006699;
$txt: #006699;
$color: #ff6600;

/* -------------------------------------------- Category (HEADER) -------------------------------------------- */

// Breadcrumbs
.breadcrumbs{
	padding: 0 5px;
	position: absolute;
	top:-12px;
	left:31px;
	background-color: white;
	ul{
		list-style-type: none;
	}
	li{
		position: relative;
		display: inline-block;
		margin-left: 10px;
		&:before{
			@include sized-sprite($icons, breadcrumbs);
		    color: #d1d1d1;
		    content: "";
		    left: -8px;
		    position: absolute;
		    top: 35%;
		}
	}
	a{
		text-decoration: none;
		color: #666;
		font-size: 10px;
		&:hover{
			text-decoration: underline;
		}
	}
}

// Header
.container{
	background: url(../img/category-bg.png) no-repeat 5px 100%;
}

	.container__holder{
		background: url(../img/category-bg-2.png) no-repeat 100% 100%;
		padding: 5px;
		border-top: 5px solid $border;
		border-left: 5px solid $border;
		border-right: 5px solid $border;
		border-radius: 10px 10px 0 0;
	}

	.container__header{
		margin: 0 0 0 20px;
	}

		.title-1{
			font-size: 34px;
			color: $title-1;
		}
/* -------------------------------------------- // END Category (HEADER) -------------------------------------------- */



/* -------------------------------------------- SIDEBAR -------------------------------------------- */

//filters
.filters{
	line-height: 1.8;
	margin: 20px 20px 20px 30px;
	h4{
		color: black;
		font-size: 13px;
		margin-left: 5px;
		font-weight: bold;
	}
	ul{
		list-style: none;
		border-bottom: 1px dotted $border2;
		ul{
			padding-left:10px;
		}
		a{
			color: $link;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

form{
	display: inline-block;
}
/* -------------------------------------------- // END SIDEBAR -------------------------------------------- */



/* -------------------------------------------- CONTAINER -------------------------------------------- */

//sort-view
.sort-view{
	padding: 10px;
	height: 16px; //temp
	background-color: $border;
	border-radius: 10px 0 10px 0;

	.sort{
		display: inline-block;
	}

	.view{
		float: right;
	}
}


//product-block
.product-block{
	margin: 20px 0;
}

.page-nav_product{
	float: right;
	display: block;
	margin: 5px 0;
}
	.product{
		border-top: 1px solid #a7d6f1;
		min-height: 170px;
		overflow: hidden;
		display: inline-block;
		.product__media{
			float: left;
			width: 170px;
			margin: 15px 5px 15px 0;
			text-align: center;
			overflow: hidden;

			.product__img{
				margin: 0 5px 5px;
			}
		}

		.stars_product{
			margin: 0 20px;
		}

		.stars{
			display: block;
			.star{
				display: inline-block;
				@include sized-sprite($icons, star-ico); 
			}
			.chosen{
				@include sized-sprite($icons, star-chosen-ico);
			}
		}

		.product__info{
			float: left;
			width: 600px;
			margin: 20px 0;
		}
			.product__content{
				border-bottom: 1px dotted #d9d9d9;
				margin-bottom: 10px;
				overflow: hidden;
			}
				.product__description{
					margin: 0 0 10px 0;
					float: left;
					width: 420px;
					h2{
						color:#666;
						font-size: 18px;
						a{
							text-decoration: none;
							color: #666;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}

				.product__code{
					color: $txt;
					font-size: 12px;
					margin: 0.4em 0;
					display: inline-block;
				}

				.product__text{
					font-size: 13px;
					color: #999;
				}

				.product__details{
					float: left;
					width: 160px;
					margin: 5px 0 0 20px;
				}

				.product__status{
					color: $txt;
					border-bottom: 1px dotted #d9d9d9;
				}

				.product__price{
					strong{
						color: $color;
						font-size: 26px;
						i{
							font-size: 18px;
							font-style: normal;
						}
					}
				}

			.product__meta{
				overflow: hidden;
			}

			.buy-buttons{
				position: relative;
				width: 160px;
				height: 29px;
				overflow: hidden;
				.btn-basket{
					font-size: 11px !important;
					font-family: Tahoma, "Geneva CY", sans-serif; //?
					color: #ffffff;
					position: absolute;
					top:0;
					left: 0;
					@include sized-sprite($icons, btn-basket);
					display: inline-block;
					text-transform: uppercase;
					text-decoration: none;
					&:hover{
						text-decoration: none;
					}
					strong{
						position: absolute;
						left: 6px;
						top: 6px;
					}
				}
				.btn-credit{
				    font-size: 12px;
				    line-height: 1;
				    position: absolute;
				    right: 0;
				    text-decoration: none;
				    top: 0;
				    color: $color;
					font-family: Tahoma, "Geneva CY", sans-serif; //?
					@include sized-sprite($icons, btn-credit);
					&:hover{
						text-decoration: none;
					}
					span{
					    left: 20px;
					    position: absolute;
					    text-align: right;
					    text-transform: uppercase;
					    top: 2px;
					}
				}
			}

			.product__links{
				.link-comments{
					float: left;
					color: $color;
				}
				.link-compare{
					float: right;
					line-height: 1;
					color: $color;
					label{
					text-decoration: underline;
					cursor: pointer;
					display: inline-block;
					vertical-align: middle;
						&:hover{
							text-decoration: none;
						}
					}
					input{
						display: inline-block;
						vertical-align: middle;
					}
				}
			}


	}











// 			.product__price{

// 			}
// 			product__
// 		}


// div.product-block
// 	--div.product
// 		--div.product__media
// 		--div.product__info
// 			--div.product__price
// 			--div.product


/* -------------------------------------------- // END CONTAINER -------------------------------------------- */