@import "base";

.slider{
   width: 990px;
   height: 215px;
   float: left;  
}
.scrollable img{
   width: 999px;
   height: 98px;
   margin-top: 15px;  
   float: left; 
}

// wrap-conteiner

.wrap-conteiner{
	width: 1000px;
	background-color: white;
	float: left;
	ul{
		li{
			width: 330px;			
			display: inline-block;
			float: left;
		}
	}
}
.item-foto{
	width: 200px;
	float: left;
	img{

	}
}
.wrap-description{
	width: 130px;
	float: left;
}
.add-chip{

}